  .calculator {
    border: 2px solid black;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-left: 20px;
  }
  
  .input {
    border: 1px solid #ddd;
    border-radius: 1px;
    height: 60px;
    width: 330px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 2.5rem;
    overflow-x: auto;
    transition: all .2s ease-in-out;
  }
  
  .operators button {
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: #ddd;
  }
  
  .leftPanel {
    display: inline-block;
  }
  
  .numbers button {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: #f9f9f9;
  }
  
  button.equal {
    display: inline-block;
    border: 1px solid #3079ED;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 98px 10px;
    margin: 10px 6px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: #FFF;
    background-color: #4d90fe;
    transition: all .2s ease-in-out;
  }